@import '../../../scss/config';

.weather {
  text-align: right;
}

.details {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: px($font-size-base);

  .high { align-self: flex-end; }

  .low  { align-self: flex-start; }

  .icon { 
    grid-column: 2 / span 2; 
    grid-row: 1 / span 2; 
  }
}



.high,
.low { font-size: px($font-size-base * 1.25); }